{% extends "base.html" %}

{% block title %}How to use a URL Shortener?{% endblock %}
{% block ogtitle %}<meta property="og:title" content="How to use a URL Shortener?">{% endblock %}
{% block description %}<meta name="description" content="The best and most practical safety measures to follow when using a URL shortener. Challenges to face when using a URL shortener.">{% endblock %}
{% block ogdesc %}<meta property="og:description" content="The best and most practical safety measures to follow when using a URL shortener. Challenges to face when using a URL shortener.">{% endblock %}
{% block url %}<meta property="og:url" content="https://adverttools.com/how-to-use-URL-shortener/">{% endblock %}
{% block canonical %}<link rel="canonical" href="https://adverttools.com/how-to-use-URL-shortener/" />{% endblock %}
{% block keywords %}<meta name="keywords" content="how to use, how to use URL shortener, URL, URL shortener, usage, use, short link, short URL, challenges">{% endblock %}

{% block content %}
        <h1 class="text-primary fw-bold aln">How to use URL Shortener?</h1>
        <br/>
        <div class="cont">
            <img src="/static/images/shortener3.jpg" alt="shortener3" class="phot" />
        </div>
        <br/>
        <br/>
        <div class="container">
            <h2 class="text-primary">The best and most practical safety measures to follow when using a URL shortener.</h2>
            <p class="h5">- Always use SSL certificate installed URL shortener services. You can confirm the presence of SSL certificate by simply checking if <i>https</i> is enabled for a domain.</p>
            <p class="h5">- Test your short link to be sure of that it directs to the right resource on the web. Just type the link in the address bar of a web browser and hit the enter key.</p>
            <p class="h5">- Use link scanning services on the internet to ensure that your link does not contain any malicious or scam redirections. Some social media platforms do this automatically when you share a post.</p>
            <p class="h5">- Ensure that your target audience will not get an ad landing page on their screens before they are directed to the original URL.</p>
            <p class="h5">- When you share a URL shortener generated link on your posts, try to show the preview of the web page to your users. Almost all social media sites render your shared links on your posts to give an idea to the users who view your post about the website the link will direct them to. Some link shortener providers offer simple techniques to create a preview of your short link for your users. For example, if you use <b>tiny.url</b> you can achieve this by simply putting <i>preview</i> word just after <i>https://</i> part, like a subdomain: <i> https://preview.tinyurl.com/abcd1234</i> If you prefer to use <b>bit.ly</b>, you just need to add <i>+</i> sign at the end of the short link like this: <i>https://bit.ly/ABCD1234+</i></p>
        </div>
        <br/>
        <br/>
        <div class="cont">
            <img src="/static/images/shortener4.jpg" alt="shortener4" class="phot" />
        </div>
        <br/>
        <br/>
        <div class="container">
            <h2 class="text-primary">Challenges you can face when using a URL shortener.</h2>
            <p class="h5">1. The number one concern about using short links is safety. If you use a URL shortener for your links, your target audience will not see the exact URL address they will go if they click the link. So, your users and potential customers might be hesitant when it comes to click to short links.</p>
            <p class="h5">2. Some traffic or click ad websites do not allow you to create an ad campaign with your short link simply because they do not want to interfere intermediary websites between the users they sent to you and your product or service. This can also be counted as a security concern.</p>
            <p class="h5">3. Your short link became corrupted or direct traffic to 404 Not Found page if you created your link very long ago and the website where you created your short link became offline or simply lost the database it stored all shortened links and redirections. This is especially true if you have Facebook, Twitter or Instagram posts from years ago and the short links you used in them are not working anymore.</p>
            <p class="h5">4. Some URL shortener websites put click or time limit for shortened links. After the limit reached, the redirection in your short link simply expires and does not work anymore. Some service providers even charge you when the time or click limit is exceeded.</p>
            <p class="h5">5. When your short link becomes unavailable for one of the reasons mentioned above (in line 3), the short link you keep using can direct your users to spam or even malicious websites. This is especially true if the website which you used to generate your short link has stopped its operation.</p>
            <p class="h5">6. Some organisations maintain a policy which prohibits the usage of URL shortener generated links due to security concerns. They ban emails contain URL shortener generated links or simply direct such emails to the spam folder. These kinds of companies also warn their employees to not click on any links on the internet which clearly generated by URL shortener.</p>
            <p class="h5">7. Be careful of the criminals who use short links to attract the attention of internet users to their phishing sites. Unknown short links can also direct the user to a malicious or scam landing page.</p>
        </div>
        <br/>
        <br/>
        <div class="container">
            <h2 class="text-primary">How to set a preview to your short link in order to show your users that your link is safe.</h2>
            <p class="h5">-	General rule: When you share a social media post, put your relevant short link at the end of your post. Normally, the link preview will be created automatically. If it is not working, delete a couple of characters from your link, then retype the characters and smash the space key. In some cases, this can make the system to recognize the link on your post.</p>
            <p class="h5">-	For <b>tiny.url</b>: Tiny.url users can create the preview of their links by simply adding “preview” word in front of the tiny.url domain name like this: <b>preview.tiny.url/abcd1234</b>.</p>
            <p class="h5">-	For <b>bit.ly</b>: In bit.ly, it is even easier to create a preview for your link! Just add “+” sign at the end of your short link when you share it in a post and the link preview will be created automatically.</p>
            <p class="h5">-	In <b>Facebook</b>: For Facebook, you need to use “Edit Link Preview” tool.</p>
            <p class="h5">-	In <b>Reddit</b>: When you create a subreddit, you should scroll down where you see <i>Other options</i>.  Enable the link thumbnail setting there.</p>
            <p class="h5">-	For <b>LinkedIn</b>: Usually on LinkedIn, the link previews are available automatically. But if you see that the provided link preview is not accurate, you can use the “Post Inspector” tool to make a request for LinkedIn to scrape the relevant link again.</p>
        </div>
{% endblock %}