{% extends "base.html" %}

{% block title %}On-page SEO Checklist for 2023{% endblock %}
{% block ogtitle %}<meta property="og:title" content="On-page SEO Checklist for 2023">{% endblock %}
{% block description %}<meta name="description" content="On-page SEO checklist for 2023. How to add your website to Google Search Console, Google Analytics, Bing Webmaster and Yandex Webmaster tools.">{% endblock %}
{% block ogdesc %}<meta property="og:description" content="On-page SEO checklist for 2023. How to add your website to Google Search Console, Google Analytics, Bing Webmaster and Yandex Webmaster tools.">{% endblock %}
{% block url %}<meta property="og:url" content="https://adverttools.com/on-page-seo-checklist/">{% endblock %}
{% block canonical %}<link rel="canonical" href="https://adverttools.com/on-page-seo-checklist/" />{% endblock %}
{% block keywords %}<meta name="keywords" content="seo, search engine optimization, on page seo, on-page seo, seo checklist, seo checklist 2023">{% endblock %}

{% block content %}
        <h1 class="text-primary fw-bold aln">On-page SEO Checklist</h1>
        <br/>
        <div class="cont">
            <img src="/static/images/seo1.jpg" alt="seo1" class="phot" />
        </div>
        <br/>
        <br/>
        <div class="container">
            <h2 class="text-primary">The Ultimate On-page SEO Checklist for 2023.</h2>
            <p class="h5">There are two types of SEO workout for your freshly published website: On-page SEO and Off-page SEO.</p>
            <p class="h5">We are going to provide a checklist for On-page SEO in order to lift your website to the top of the search engine results page for each and every of the most popular search engines in today’s world. You need to follow below steps to make your website to rank higher on the search results (SERP).</p>
        </div>
        <br/>
        <div class="container">
            <h3 class="text-primary">1.	Add your website to all the popular and modern search consoles and webmaster tools.</h3>
            <p class="h5">Create an account on Google Search Console, Bing Webmaster and Yandex Webmaster websites. Then add your website to each of the above search engine webmaster tools.</p>
            <p class="h5">You need to verify the ownership of your website and perform a couple of setup tasks in order to make your site indexed on all of these search engines. We will publish guides on how to connect your website to all of the modern search engines in the coming weeks.</p>
        </div>
        <br/>
        <div class="container">
            <h3 class="text-primary">2.	Add your website to Google Analytics and make the necessary setup.</h3>
            <p class="h5">Sign up for Google Analytics and add your website to the analytics tool. Again, you will have to prove that you own the website. Copy the Google Analytics provided HTML code and paste it in between the <b>head</b> tags on the HTML pages of your website, especially to the base HTML template if there is one.</p>
            <p class="h5">After verifying your ownership for your website, the  daily and monthly visitor statistics for your website will be shown on your dashboard. Please allow from 24 hours up to 48 hours in order for your traffic data to be shown on your Google Analytics account.</p>
        </div>
        <br/>
        <div class="container">
            <h3 class="text-primary">3.	Connect your Google Analytics account with your Google Search Console.</h3>
            <p class="h5">On your Google Analytics account dashboard, you should add your Google Search Console account. Sign in to your Google Analytics account and navigate to the admin panel. Scroll down and click on the <b>Search Console Links</b> button.</p>
            <p class="h5">Then authorize and give access to Google Analytics to establish a connection to your Search Console account. That is it, you are good to go!</p>
        </div>
        <br/>
        <br/>
        <div class="cont">
            <img src="/static/images/seo2.svg" alt="seo2" class="phot" />
        </div>
        <br/>
        <br/>
        <div class="container">
            <h3 class="text-primary">4.	Add common pages to your website.</h3>
            <p class="h5">Add About Us, Terms and Conditions, Contact Us and Privacy Policy pages into your website if they are not present on the website. Insert information about your company or the goods and services you provide to your About Us page.</p>
            <p class="h5">It is a good practice to add your contact email or a contact form into your Contact Us page. You can generate a privacy policy or terms of service for your website with the help of policy generator tools on the Internet. It is very easy to generate one and add to your relevant policy page.</p>
        </div>
        <br/>
        <div class="container">
            <h3 class="text-primary">5.	Create a <b>WWW</b> version of your website.</h3>
            <p class="h5">Create a home page for the <b>www</b> subdomain of your website or direct <i>www.yourdomain.com</i> to the root domain (yourdomain.com) of your website. You can easily create a redirection for your <b>www</b> subdomain by adding a CNAME record into the DNS settings of your domain name.</p>
            <p class="h5">Put <i>www.yourdomain.com</i> as a name and <i>yourdomain.com</i> as a value to the CNAME record. That is all, you are done!</p>
        </div>
        <br/>
        <div class="container">
            <h3 class="text-primary">6.	Buy an SSL certificate for your website.</h3>
            <p class="h5">In order to show the safety and security of your website to the search engines, you need to buy and install a proper SSL certificate into your web server. All the popular search engines check if your website has installed SSL certificate or not, in order to be sure about data privacy.</p>
            <p class="h5">It is very easy and cheap to buy an SSL certificate, usually from $5 up to $10 per year. You have free SSL certificate options as well. For example, Let’s Encrypt provides free SSL certificates for websites. But in free option, you have to reissue and install the certificate to your website in every three months and have some limitations compared to the paid options.</p>
        </div>
        <br/>
        <div class="container">
            <h3 class="text-primary">7.	Create a sitemap for your website.</h3>
            <p class="h5">A sitemap is an XML file contains the URLs of all the pages of your website. You can also add last modification dates and change frequencies of your web pages in the sitemap of your website. It is very easy to create a sitemap and you can generate one based on the templates provided on <a href="https://www.sitemaps.org/" target="_blank" class="text-primary text-decoration-none fw-bold">www.sitemaps.org</a>.</p>
            <p class="h5">When a search engine crawler bot visits your website, it first looks for a sitemap on your website in order to read the URLs of your web pages and crawl your website accordingly. Therefore, after creating your own sitemap, you should put it on the root folder of your web server and make it available like <i>www.yourdomain.com/sitemap.xml</i>.</p>
        </div>
        <br/>
        <div class="container">
            <h3 class="text-primary">8.	Create the robots.txt file for your website.</h3>
            <p class="h5">A robots.txt file is a text file where you put the search engine crawl configuration for your website. You can block certain search engine bots from accessing and crawling your website. You should add the URL of the Sitemap of your website into the robots.txt file like that <b> Sitemap: https://yourdomain.com/sitemap.xml</b>.</p>
            <p class="h5">Please note that if you leave your robots.txt file empty, that means the crawler bots from all the search engines can crawl your site.</p>
        </div>
        <br/>
        <br/>
        <div class="cont">
            <img src="/static/images/seo3.png" alt="seo3" class="phot" />
        </div>
        <br/>
        <br/>
        <div class="container">
            <h3 class="text-primary">9.	Fix broken links on your website.</h3>
            <p class="h5">Look for any broken link on your web pages and fix them carefully. Broken links kill the reputation of your website, thus ruin your search engine optimization.</p>
            <p class="h5">This step also includes the removal of any link which directs your users to potentially malicious or scam website.</p>
        </div>
        <br/>
        <div class="container">
            <h3 class="text-primary">10.	Add all the missing metadata to your web pages.</h3>
            <p class="h5">Meta tags are very important part of search engine optimization. We have mainly five types of meta tags: title, meta description, meta url, meta author and meta keywords. Title and meta description are the most important among them. Title tag contains the title of your web page and meta description should contain a short description of what is your web page about.</p>
            <p class="h5">Meta url tag includes the URL of the web page and meta author shows the author who published the web page. Meta keywords can be a bit longer compared to the previous ones and includes all the keywords relevant to the web page content. Please do not forget that all the meta tags should be placed in between head tags on every page of your website.</p>
        </div>
        <br/>
        <div class="container">
            <h3 class="text-primary">11.	Make your website mobile responsive.</h3>
            <p class="h5">Mobile responsiveness does not only increase your SEO ranking, but also provides a better user experience for your website. Most WordPress themes are mobile friendly, but you should check and confirm that manually. If you develop your website yourself or your website developed by web developers you hired, you should pay special attention to mobile responsiveness.</p>
            <p class="h5">Try to enter to your website from different mobile devices and confirm that the horizontal scroll bar does not show up, clickable elements are not too close to each other, and the font size is big enough to be read by mobile users. You can also check on both portrait and landscape modes by changing the screen orientation on mobile devices.</p>
        </div>
        <br/>
        <br/>
        <div class="cont">
            <img src="/static/images/seo4.svg" alt="seo4" class="phot" />
        </div>
        <br/>
        <br/>
        <div class="container">
            <h3 class="text-primary">12.	Keep page URLs short.</h3>
            <p class="h5">Always try to keep your web page URLs and permalinks short. Long URLs of course can contain a lot of keywords, but they are not eye catching enough on the search engine results pages (SERP).</p>
            <p class="h5">Majority of the search engine users avoid clicking on long URLs these days. They prefer pretty, short, and concise URLs that appear more attractive than the long ones.</p>
        </div>
        <br/>
        <div class="container">
            <h3 class="text-primary">13.	Add a custom 404 Error page.</h3>
            <p class="h5">If you do not have a customized 404 Error page on your website, you should give value to your users and create one. Put a relevant image and a link to the home page on your custom 404 page.</p>
            <p class="h5">Type errors are always experienced by your users, and they will encountered rather in an ugly HTTP error page if you do not have a customized 404 page. Do not forget that a well-designed 404 Error page is a sign of high quality of the website.</p>
        </div>
        <br/>
        <div class="container">
            <h3 class="text-primary">14.	Add social media buttons to your website.</h3>
            <p class="h5">The first part of this step is creating social media pages for your website or business. Enter the necessary information about your business and link your website to social media profiles you have just created.</p>
            <p class="h5">Then put the links of all your social media pages on the footer section of your website. The second part is to create share buttons for all the popular social media platforms and put the links on your home page and on every post you published on your website.</p>
        </div>
        <br/>
        <div class="container">
            <h3 class="text-primary">15.	Use a Content Delivery Network (CDN)</h3>
            <p class="h5">Using a content delivery network (CDN) for your website makes the loading time of your website lightning fast and thus increases your SEO ranking. This is because a CDN stores the static files of your website on the servers in different regions in the world and loads your website from the closest server to the user who visits your site.</p>
            <p class="h5">A content delivery network can cost a lot of money, but it is definitely worth it. Besides some web hosting providers already include a CDN in their hosting plans.</p>
        </div>
        <br/>
        <div class="container">
            <h3 class="text-primary">16.	Optimize your images.</h3>
            <p class="h5">Image optimization is lowering the size of an image by keeping its pixel quality. It is very important for fast loading times and a better user experience. Use <b>WebP</b> and <b>SVG</b> image formats where you can.</p>
            <p class="h5">Always try to use lower size images or resize image resolution to lower the size in order to boost your website first loading times. If you are using WordPress content management system to build your website, it is a good idea to use <b>WP Smush</b> plugin to optimize all the images on your website.</p>
        </div>
        <br/>
        <br/>
        <div class="cont">
            <img src="/static/images/seo5.jpg" alt="seo5" class="phot" />
        </div>
        <br/>
        <br/>
        <div class="container">
            <h3 class="text-primary">17.	Rename your images with relevant names and set alt attributes.</h3>
            <p class="h5">When you insert images into your website or your blog articles, pay attention to the image names. Image names should match the topics you write about on your article or should be relevant to your website’s niche.</p>
            <p class="h5">For example, if you are writing about how to increase website traffic and wish to share the screenshot of your monthly website analytics, rename the image like <b>monthly-traffic.png</b> or <b>website-analytics.jpg</b> in order to leave a clearer message to the crawler bots from different search engines. Do not leave empty the alt attributes of your images. Add descriptive and relevant names as alt attributes to your images. It can consist of only one word. For instance, <b>alt=”traffic”</b>.</p>
        </div>
        <br/>
        <div class="container">
            <h3 class="text-primary">18.	Share links for the relevant, authoritative websites.</h3>
            <p class="h5">Always try to share the web links of relevant authorities and institutions inside of your blog posts or in different sections of your website.</p>
            <p class="h5">For example, if you are talking about domain names, add a link to ICANN website, or if your topic is creating sitemaps, refer the website <b>www.sitemaps.org</b>. This will be a sign of giving value to the users of your website, and also will increase your SEO ranking.</p>
        </div>
        <br/>
        <div class="container">
            <h3 class="text-primary">19.	Put your target keywords on your URLs, Titles and Headings.</h3>
            <p class="h5">It is very important to determine your target keywords even before you start building your website. And during your website development, try to put your target keywords in the titles of your web pages, in your page URLs and permalinks, as well as on the headings and paragraphs of the articles on your website. Lets say your target keyword is <b>website hosting</b>.</p>
            <p class="h5">Create page titles like <i>The best website hosting in 2023.</i> or <i>How to find out your website hosting requirements.</i>. Similarly, you can set URLs like <i>yourdomain.com/best-website-hosting/</i> or <i>What is website hosting?</i>. Do not forget to put the same target keywords also in your blog posts by inserting them in the heading and paragraph sections.</p>
        </div>
        <br/>
        <br/>
        <div class="cont">
            <img src="/static/images/seo6.jpg" alt="seo6" class="phot" />
        </div>
        <br/>
        <br/>
        <div class="container">
            <h3 class="text-primary">20.	Minimize the usage of JavaScript / CSS on your website.</h3>
            <p class="h5">If you develop a website for yourself, try to avoid using extensive JavaScript or CSS codes. In many cases, most of the JavaScript code added to your website is useless. Look for unused JavaScript code blocks on your website and remove them immediately in order to achieve a better SEO ranking.</p>
            <p class="h5">For CSS, our advice is to use the Bootstrap framework in order to get CSS styles from the files stored out of your web server. If you need custom CSS styling on your website, we suggest you using a single CSS file for all of your CSS styling works.</p>
        </div>
        <br/>
        <div class="container">
            <h3 class="text-primary">21.	Monitor your website performance with the help of different online tools.</h3>
            <p class="h5">It is very important to continuously monitor your website performance with online tools and rectify the issues on your website in timely manner. These online tools can include Google Search Console, Google Analytics, Page Speed Insights tool provided by Google, and SEO analyser tools offered by different vendors.</p>
            <p class="h5">You can check all the performance parameters of your website such as loading speed, monthly traffic, received search queries, mobile usability issues, SEO performance etc.</p>
        </div>
        <br/>
        <div class="container">
            <h3 class="text-primary">22.	Configure the permalinks on your website.</h3>
            <p class="h5">Always check and configure your permalinks because they can have a great impact on your SEO rankings. A permalink is an URL link directing to different resources or pages on your website. For example, <i>yourdomain.com/business/how-to-implement-digital-marketing-strategy/</i>. In some cases, especially if you use WordPress content management system, the permalinks for your website can be created as meaningless texts like <i>yourdomain.com/?p=1234/</i>.</p>
            <p class="h5">You have to check all your permalinks directing to your web tools or blog articles and rectify them if it is necessary to do. For instance, in the above example, change <i>yourdomain.com/?p=1234/</I> to <i>yourdomain.com/what-is-your-topic/</I>. Your permalinks should look pretty and attractive for the users.</p>
        </div>
        <br/>
        <div class="container">
            <h3 class="text-primary">23.	Keep your website updated.</h3>
            <p class="h5">We kindly advise you to update your website at least once a week to keep track of and maintain your SEO appearance. You can either add new blog articles or your newly developed web tools to your website to keep it updated.</p>
            <p class="h5">Your website will lose its SEO place and end up at the bottom of search engine results pages (SERP) if not updated for a long time period.</p>
        </div>
        <br/>
        <div class="container">
            <h3 class="text-primary">24.	Make keyword research beforehand.</h3>
            <p class="h5">It is better to start your keyword research even before you starting your website development. Because you need to put your target keywords on different sections of your website after all. There are many keyword research tools exist on the Internet including the Keyword Planner tool by Google.</p>
            <p class="h5">Use keyword research tools and get information about monthly search volumes or SEO difficulty of your favourite keywords. Identify the best keywords for your niche and set them as your target keywords for your journey as a web publisher.</p>
        </div>
{% endblock %}