{% extends "base.html" %}

{% block title %}What is a web hosting and why does a website need it?{% endblock %}
{% block ogtitle %}<meta property="og:title" content="What is a web hosting and why does a website need it?">{% endblock %}
{% block description %}<meta name="description" content="What is a web hosting? Why a website need hosting? What is WordPress hosting? What is VPS hosting? What is a dedicated server hosting? What is a cloud hosting? Namecheap hosting">{% endblock %}
{% block ogdesc %}<meta property="og:description" content="What is a web hosting? Why a website need hosting? What is WordPress hosting? What is VPS hosting? What is a dedicated server hosting? What is a cloud hosting? Namecheap hosting">{% endblock %}
{% block url %}<meta property="og:url" content="https://adverttools.com/web-hosting-explained/">{% endblock %}
{% block canonical %}<link rel="canonical" href="https://adverttools.com/web-hosting-explained/" />{% endblock %}
{% block keywords %}<meta name="keywords" content="web hosting, hosting, wordpress, vps, shared, accept credit, website, internet design">{% endblock %}

{% block content %}
        <h1 class="text-primary fw-bold aln">What is Web Hosting?</h1>
        <br/>
        <div class="cont">
            <img src="/static/images/web1.jpg" alt="web1" class="phot" />
        </div>
        <br/>
        <br/>
        <div class="container">
            <h2 class="text-primary">What is a web hosting and why does a website need it?</h2>
            <p class="h5">A web hosting is where your website lives in. In other words, where all your website data included static files, applications, servers and configuration files stored.</p>
            <p class="h5">There are mainly four types of web hosting:</p>
            <p class="h5">Shared web hosting: In this option, you share the same server with other website owner. The number of tenants depends on the hosting company and available resources. It is usually the cheapest option and suitable for individuals or small business owners.</p>
            <p class="h5">VPS (Virtual Private Server) web hosting: This hosting type gives you a little more freedom and customization. You can install your packages to this type of server or upload your configuration files to the server. This option usually offered to developers and individuals who need a higher performance than shared hosting.</p>
            <p class="h5">Dedicated server web hosting: This option is like renting the entire apartment yourself. You can do whatever you want to do with your server and most probably you will hire a team of developers to manage that server. Usually big companies and corporations prefer a dedicated server hosting in order to achieve high performance and security.</p>
            <p class="h5">Cloud web hosting: Cloud hosting providers usually allocate resources for you according to your web hosting needs. You can use different services with as per your project requirements and usually these services are provided in container environments. Cloud hosting is usually associated with a pay as you go payment structure.</p>
            <p class="h5">Think about sharing your flat, renting a separate unit or renting the entire building.</p>
            <p class="h5">If your website project is very big and complex, you should definitely go with VPS or dedicated server hosting. VPS server is like renting a portion of a dedicated server. That is why dedicated and VPS hosting options are more secure compared with a shared hosting.</p>
            <p class="h5">Hosting provider plays an important role for your website security and performance. Customer support is also important, as you'll want to ensure that you have access to help and assistance if you encounter any issues with your website. And scalability is important to consider if your website is expected to grow in the future.</p>
            <p class="h5">When you buy a hosting plan, you should always stick to reputable hosting providers like <a class="text-decoration-none" href="https://namecheap.pxf.io/2rZ2gG">Namecheap</a>, GoDaddy, Ionos, Hostinger, Bluehost etc. Our Web Hosting Advisor tool will direct you to <a class="text-decoration-none fw-bold" href="https://namecheap.pxf.io/2rZ2gG">Namecheap</a> to buy your hosting plan.</p>
        </div>
        <br/>
        <br/>
        <div class="container">
            <h2 class="text-primary">Connecting your domain with your web hosting?</h2>
            <p class="h5">If you bought your domain name and your web hosting plan from the same service provider, directing your domain to your website is pretty straight forward.</p>
            <p class="h5">You just need to add a couple of DNS records to the DNS settings of your domain name and you are good to go! Even some service providers do this process automatically, in a click of a button.</p>
            <p class="h5">But if your domain name provider and web hosting plan provider are two different companies, you need to do a bit of work yourself. It is still not that hard, but you have to adjust some settings in order to get your domain name connected.</p>
            <p class="h5">You first need to go to your domain name provider and change your domain settings by adding your web hosting provider's name server records to your domain settings. Then go back to your web hosting provider and add all the required DNS records there. After that, you will be able to redirect your domain name to your website.</p>
        </div>
        <br/>
        <br/>
        <div class="cont">
            <img src="/static/images/web2.svg" alt="web2" class="phot" />
        </div>
        <br/>
        <br/>
        <div class="container">
            <h2 class="text-primary">What are the most common web server OS (Operating Systems)?</h2>
            <p class="h5">Linux is the most widespread operating system for web servers. Approximately 80% of all web servers use Linux and different Linux distributions.</p>
            <p class="h5">Some popular Linux distributions for web servers are Ubuntu, CentOS, and Debian. Due to the fact Linux running every 4 out of 5 web servers, web developers are required to have extensive Bash command line knowledge in order to manage a server properly.</p>
            <p class="h5">Windows shares roughly 20% of the market. As you can easily guess, people do not choose a Windows server if they do not have a specific reason to do so.</p>
            <p class="h5">Companies usually choose a Windows server if they have entire ecosystem run on Windows and their developers are more familiar with Windows operating system such as using PowerShell command line.</p>
        </div>
        <br/>
        <br/>
        <div class="container">
            <h2 class="text-primary">What is root access for web hosting?</h2>
            <p class="h5">A root access is an administrator privilege that comes with your hosting plan. But not all hosting plans and service providers include it in the package.</p>
            <p class="h5">Root access means that you can connect to your web hosting server remotely as a root (admin) user. Usually it is done by SSH (Secure Shell Protocol) and called <b>Shell Access</b> in daily life.</p>
            <p class="h5">On SSH protocol, you connect to your web server by entering your username and password provided by your web hosting service provider. If that username and password belongs to the root user of your web server, we call that the service provider has given you a root access.</p>
            <p class="h5">Then you manage your web server with the help of Bash commands (if it is a Linux server) or PowerShell (if it is a Windows). Normally, a root access available for all web hosting plans mentioned above, except the shared hosting.</p>
            <p class="h5">If you have a shared hosting plan, that means you share your web server with the other clients so giving root access to you can obviously cause security and privacy concerns for the other users sharing the server with you. That is why most of the shared hosting providers create additional user for each tenant and do not provide root access in order to prevent the users from interfering with the web server.</p>
        </div>
{% endblock %}